*{padding: 0;
margin: 0;
font-family: 'Almarai', sans-serif;
}
body{
    background: url(https://i.pinimg.com/originals/ed/9c/7c/ed9c7c98804c2fa4a4bdd5588444ee5e.jpg);
}
h1{
    color: #fff;
    text-align: center;
    margin-top: 22px;
    font-size: 33px;
}
div{
    background: rgba(0, 0, 0, 0.671);
    background: rgba(0, 0, 0, 0.76);
    margin: 140px 300px;
    border-radius: 13px;
    padding: 20px 0;
}
a{
    text-decoration: none;
            color: #fff;
            background: rgb(88, 20, 17);
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            margin: 15px 200px;
            font-size: 24px;
            font-weight: 800;
            border-radius: 10px;
            transition: 0.5s ease;
}
a:hover{
    background: #fff;
    color: #000;
}

@media screen and (max-width:400px) {
    *{padding: 0;
        margin: 0;
        font-family: 'Almarai', sans-serif;
        }
        body{
            background: url(https://i.pinimg.com/originals/ed/9c/7c/ed9c7c98804c2fa4a4bdd5588444ee5e.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        h1{
            font-size: 20px;
            text-align: center;
        }
        div{
            background: rgba(0, 0, 0, 0.76);
            margin: 70px 40px;
            border-radius: 13px;
        }
        a{
            text-decoration: none;
            color: #fff;
            background: rgb(88, 20, 17);
            font-size: 12px;
            padding: 10px 40px;
            margin: 10px 30px;
            transition: 0.5s ease;
        }
     
    
}
@media screen and (max-width:768px) {
    *{padding: 0;
        margin: 0;
        font-family: 'Almarai', sans-serif;
        }
        body{
            background: url(https://i.pinimg.com/originals/ed/9c/7c/ed9c7c98804c2fa4a4bdd5588444ee5e.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        h1{
            font-size: 20px;
            text-align: center;


        }
        div{
            background: rgba(0, 0, 0, 0.76);
            margin: 70px auto;
            border-radius: 13px;
        }
        a{
            text-decoration: none;
            color: #fff;
            background: rgb(88, 20, 17);
            font-size: 12px;
            padding: 10px 40px;
            margin: 10px 30px;
            transition: 0.5s ease;
        }
    
}



